html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  body(ng-app='bankSearchApp', ng-cloak='')
    div(ng-view='')
    //- Angular.js Libraries
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-aria.min.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-messages.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js')
    // Angular Material Library
    //- script(src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js')
    //- Application js files
    script(src='app/js/app.js')
    script(src='app/js/controllers/parentController.js')