.bankDetailsColumn
    padding-top:4px;
    padding-bottom:4px;
    border-bottom: 1px solid lightgray;
.bankDetailsRow
    height: 52px;
    overflow: hidden;
    margin-right: 8px;
    &.header
        padding-top: 8px;
        padding-bottom: 8px;
        height: 34px;
        text-transform: uppercase;
        font-weight: 400;